<div id="topborder"><img src="assets/images/instagramborder.png" height="41px" width="609px"><span class="p-1">Recently tagged #blidahl2017</span></div>
<div class="text-center">
	<img class="rounded" src={{photoSrc}}/>
</div>
<div class="text-center">
	<h2 class="p-3">{{caption}}</h2>
	<h4>Uploaded by: {{username}}</h4>
	<h4>Likes: {{likes}}</h4>
	<h4>Tags: {{tags}}</h4>
	Upload a photo, tag it with #blidahl2017 and wait for it to appear here
</div>
