<div id="topborder"><h3 class="text-center pt-1">Now Playing</h3></div>
<div class="text-center">
	<img class="rounded" src={{albumArt}} />
</div>

<div class="text-center">
	<h2 class="p-5">{{trackTitle}}</h2>
	<h4>{{albumTitle}}</h4>
	<h4>{{artistName}}</h4>
</div>
